$color-green-000: #c3e6f6;
$color-green-100: #368196;
$color-green-200: #317589;
$color-gray-100: #f0f0f0;
$color-gray-200: #909090;
$color-gray-300: #999999;
$color-gray-400: #575757;


$main-text-color-white: white;
$main-text-color-green: #067588;
$main-text-color-black: black;


$home-header-height: 100px;

$fs-1: 15px;
$fs-2: 20px;
$fs-3: 28px;

$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
);



